In [59]:
import pandas as pd
hmeq = pd.read_csv("hmeq.csv")
hmeq.head() #Look at the head of the data (just the first few rows)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN,NaN,NaN,NaN,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7,0.0,2.0,121.833333,0.0,14.0,NaN,NaN,NaN,NaN,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4,0.0,0.0,149.466667,1.0,10.0,NaN,NaN,NaN,NaN,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3,0.0,0.0,93.333333,0.0,14.0,NaN,NaN,NaN,NaN,NaN

In [60]:
hmeq_cleaned = hmeq.drop(columns=['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'])

In [61]:
hmeq_cleaned.describe()

,BAD,LOAN,MORTDUE,VALUE,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
count,5962.000000,5.962000e+03,5444.000000,5.850000e+03,5254.000000,5382.000000,5654.000000,5452.000000,5740.000000,4695.000000
mean,0.201275,1.972605e+04,73756.449706,2.580738e+05,0.259136,0.449275,179.738555,1.237366,21.287456,35.185829
std,0.420589,8.597330e+04,44450.895907,1.176907e+07,0.890592,1.127090,85.853356,3.615545,10.141083,73.596762
min,0.000000,1.100000e+03,2063.000000,-2.500000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,-21.719596
25%,0.000000,1.110000e+04,46292.000000,6.608575e+04,0.000000,0.000000,115.089691,0.000000,14.000000,29.136864
50%,0.000000,1.640000e+04,65019.000000,8.924500e+04,0.000000,0.000000,173.466667,1.000000,20.000000,34.816960
75%,0.000000,2.330000e+04,91482.000000,1.198388e+05,0.000000,0.000000,231.587389,2.000000,26.000000,39.008591
max,10.000000,6.600000e+06,399550.000000,9.001400e+08,20.000000,15.000000,1168.233561,229.518295,71.000000,4537.512708

In [62]:
hmeq_cleaned['YOJ'] = pd.to_numeric(hmeq_cleaned['YOJ'], errors='coerce')
hmeq_cleaned.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN

In [63]:
hmeq_cleaned = hmeq_cleaned.fillna(hmeq.mean())
hmeq_cleaned = hmeq_cleaned.round(2)

In [64]:
hmeq_cleaned.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.00,39025.00,HomeImp,Other,10.5,0.00,0.00,94.37,1.00,9.00,35.19
1,1,1300,70053.00,68400.00,HomeImp,Other,7.0,0.00,2.00,121.83,0.00,14.00,35.19
2,1,1500,13500.00,16700.00,HomeImp,Other,4.0,0.00,0.00,149.47,1.00,10.00,35.19
3,1,1500,73756.45,258073.79,NaN,NaN,NaN,0.26,0.45,179.74,1.24,21.29,35.19
4,0,1700,97800.00,112000.00,HomeImp,Office,3.0,0.00,0.00,93.33,0.00,14.00,35.19

In [67]:
hmeq_cleaned['YOJ'] = hmeq_cleaned['YOJ'].fillna(hmeq.mean())
hmeq_cleaned.describe()

,BAD,LOAN,MORTDUE,VALUE,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
count,5962.000000,5.962000e+03,5962.000000,5.962000e+03,5445.000000,5962.000000,5962.000000,5962.000000,5962.000000,5962.000000,5962.000000
mean,0.201275,1.972605e+04,73756.449732,2.580738e+05,8.921809,0.259239,0.449346,179.738631,1.237591,21.287551,35.186744
std,0.420589,8.597330e+04,42475.658928,1.165798e+07,7.572750,0.836032,1.070854,83.605972,3.457441,9.950453,65.308623
min,0.000000,1.100000e+03,2063.000000,-2.500000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-21.720000
25%,0.000000,1.110000e+04,48139.000000,6.650900e+04,3.000000,0.000000,0.000000,117.365000,0.000000,15.000000,30.742500
50%,0.000000,1.640000e+04,69529.000000,9.000000e+04,7.000000,0.000000,0.000000,178.075000,1.000000,21.000000,35.190000
75%,0.000000,2.330000e+04,88184.500000,1.225930e+05,13.000000,0.000000,0.450000,227.120000,2.000000,26.000000,37.950000
max,10.000000,6.600000e+06,399550.000000,9.001400e+08,41.000000,20.000000,15.000000,1168.230000,229.520000,71.000000,4537.510000